{% extends '_layout' %}

{% block pageCss %}
{% endblock %}

{% block bodyClass %}
{% endblock %}

{% block content %}
{% set heroBlock = entry.hero.one() %}
{% if heroBlock and heroBlock.heroImage|length %}
<div class="hero" style="background-image: url({{ heroBlock.heroImage.one().url }})">
  <div>{{ heroBlock.heroOverlayText }}</div>
</div>
{% endif %}
<main>
  <div class="content">
    <div class="pageText pandaIndex">
      {% if entry.pageTitle|length %}
      <header>
        <h1>{{ entry.pageTitle }}</h1>
      </header>
      {% endif %}
      {% set myEntryQuery = craft.entries()
        .section('areasOfCapability')
        .level(2)
        %}

        <ul class="serviceBlocks">
          {% for item in myEntryQuery %}
          <li>
            <a href="{{ item.url }}">
              <h2>{{ item.title }}</h2>
              {% set itemHero = item.hero.one() %}
              {% if itemHero and itemHero.heroImage|length %}
              <img src="{{ itemHero.heroImage.one.url('summaries') }}" alt="{{ itemHero.heroImage.one.title }}">
              {% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
      {{ entry.pageText }}
    </div>
  </div>
</main>
  {% endblock %}

  {% block pageScripts %}
  {% endblock %}
