{% extends '_layout' %}

{% block bodyClass %}
<body class="articles">
{% endblock %}

{% block content %}

<main>
  <div class="content news">
    <div class="pageText intro">
    <header>
      <h1>{{ entry.title }}</h1>
    </header>
      {{ entry.pageIntroduction }}
    </div>
  {% set stuff = craft.entries.section('pandaNews').level(2).limit(1) %}

  <div class="pageText current">
    {% for current in stuff %}
        <header>
          <h2>{{ current.title }}</h2>
        </header>
        {{ current.pageText }}
    {% endfor %}
  </div>

  <div class="archive">
    <header>
      <h2>Further reading</h2>
    </header>



        {% set stuff = craft.entries({
          section: 'pandaNews',
          orderBy: ('postDate desc'),
          level: 2,
          offset: 1,
        })%}

    <ul class="summaries">
      {% for entry in stuff.all() %}
      <li>
        <div>
        <header>
          <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        </header>
          <p>{{ entry.pageText|chop(limit="20", unit='w', append='...') }}</p>
          <p class="readMore"><a href="{{ entry.url }}">Read More</a></p>
        </div>
        <p class="postDate">{{ entry.postDate | date("j M Y") }}</p>
      </li>
      {% endfor %}
    </ul>





  </div>
  </div>
</main>



{% endblock %}

{% block pageScripts %}
{% endblock %}
